.formulaire{
  background-color: var(--container-color);
  width: 40%; 
  height: max-content;
  position: absolute;
  top: 130px;
  left: 30%; 
  padding: 50px 50px 10px;
  border-radius: 20px;
  box-shadow: var(--shadow-color) 5px 8px 55px;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:2%;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.error-message{
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
.icon {
  padding: 10px;
  background:  var(--main-color);
  color: white;
  min-width: 40px;
  text-align: center;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid  var(--input-color);
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
}
.input-field:focus {
  border: 2px solid  var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}
.btn {
  cursor: pointer;
  opacity: 0.9;
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
  margin:10px 20% ;
  font-size: 1.2rem;
  border: none;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  width: 60%;
  background-size: 200% auto;
  color: var(--text-color);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn:hover {
  opacity: 1;
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
.form-title{
  margin-bottom: 20px;
  color: var(--main-color);
}
.custom-select {
  appearance: none;
  padding: 10px;
  background-color: var(--text-color);
  width: 100%;
  font-size: 14px;
  color: rgb(120, 120, 120);
  border: 1px solid var(--input-color);
  border-radius: 4px;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
} 
.custom-select:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

  
@media screen and (max-width: 1000px) {
  .formulaire{
    width: 60%; 
    left: 20%; 
    top: 20%;
    padding: 30px;
  }
  .container2 {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .formulaire{
    width: 80%; 
    left: 10%; 
    top: 20%;
    padding: 30px 30px 10px;
  }
  .container2 {
    display: block;
  }
  .btn {
    margin:10px 25% ;
    font-size: 1rem;
    padding: 15px 20px;
    width: 50%;
  }
}
