:root {
  --main-color: #fe9801;
  --hover-color: #d27f03;
  --shadow-color:rgb(164, 164, 164);
  --input-color:rgb(223, 220, 220);
  --text-color:white;
  --container-color: #eee;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: var(--main-color);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.window{
  position:absolute;
  height: 100%;
  width: 100%;  
  border-radius: 20px;
}
.logo{
  width: 120px;
}
.heading {
  background-color: var(--main-color);
  color: var(--text-color);
  padding:10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading1 {
  margin-bottom: 20px;
  padding:20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
}
.header_text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color);
}

#login-name{
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}
.badge-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
  padding: 5px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 25px;
  background-color:var(--main-color);
  justify-content: center;
}
.badge-icon i {
  font-size: 20px;
}
@media screen and (max-width: 765px) {
  .heading {
    padding:10px 20px;
    font-size: 16px;
  }
  .logo{
    width: 80px;
  }
}