:root {
  --main-color: #fe9801;
  --hover-color: #d27f03;
  --shadow-color:rgb(164, 164, 164);
  --input-color:rgb(223, 220, 220);
  --text-color:white;
  --container-color: #eee;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: var(--main-color);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.window{
  position:absolute;
  height: 100%;
  width: 100%;  
  border-radius: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-color) ;
  min-height: 70vh;
}
.logo{
  width: 120px;
}
.heading {
  margin-bottom: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  padding:20px 20px 0;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading1 {
  margin-bottom: 20px;
  padding:20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
}
.timer, .errors, .accuracy,.allWord, .cpm, .wpm {
  background-color: var(--main-color);
  box-shadow: var(--shadow-color) 5px 8px 5px;
  height: 70px;
  min-width: 100px;
  margin: 15px;
  padding: 12px;
  border-radius: 20%;
}
.cpm, .wpm  {
  display: none;
}
.header_text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color);
}

.curr_time, .curr_errors,
.curr_accuracy,.curr_allWord, .curr_cpm,
.curr_wpm {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
}
.curr_time{
  color:#289501 !important;
}
.curr_errors{
  color:#fe1e09 !important;
}
.quote {
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: var(--shadow-color) 5px 8px 5px;
  border-radius: 15px;
  user-select: none;
}

.input_area {
  background-color: #f5f5c6;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: var(--shadow-color)  5px 8px 5px;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: darkgreen;
}
   
.restart_btn {
  display: none;
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--text-color);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.restart_btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.container-game{
  z-index:1;
  display: none;
}




#login-name{
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}
.badge-icon {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  width: 200px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color:var(--main-color);
  margin : -5px 10px 10px ;
  justify-content: center;
}
.badge-icon:hover {
  background-color:var(--hover-color);
}
.badge-icon img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}